<div>
  <mat-grid-list cols="1" rowHeight="100px" rows="1">
    <mat-grid-tile>
      <mat-card class="flex">
        <div>
          <mat-card-title>
            {{ (mainList$ | async)?.title }}
          </mat-card-title>
          <mat-card-content>
            {{ (mainList$ | async)?.date }}
          </mat-card-content>
        </div>
        <button
          mat-mini-fab
          color="primary"
          aria-label="Example icon button with a plus one icon"
        >
          <mat-icon>add</mat-icon>
        </button>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
